# Ignorar o arquivo .env para proteger as credenciais
.env

# Ignorar a pasta node_modules (pacotes instalados)
node_modules

# Ignorar logs gerados
logs
*.log
*.exe
*.blockmap
*.yml
*.yaml

dist/win-unpacked/Automacao Cancelamento.exe